{% extends 'layouts/base.njk'%}
{% block content %}
    
    {% include "partials/hero.njk" %}

    <header class="p-6 w-full font-serif text-center">
      <h2 class="text-2xl mx-auto"> Current Issue </h2>
      <h1 class="text-3xl mx-auto py-3"> Vol 1 No 3 (2018) </h1>
      <h2 class="text-xl mx-auto"> Published May 22, 2018 </h2>
    </header>

    <preview class="block flex m-6">
      <img src="/images/preview.png" class="flex-initial h-92 mx-6 shadow-lg">
      <div class="flex-grow bg-some-gray p-12 h-92 mx-6 shadow-lg">
        <h1 class="text-4xl font-serif">
          Special Issue: On the Health of Health Science
        </h1>
        <div class="text-2xl my-4 font-serif text-gray-700">
          This special issue explores the topic of the current state of the Health Sciences. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ipsum aliquet, interdum lorem nec, blandit massa. Aliquam fringilla elementum erat vel convallis. Donec sed erat sagittis, accumsan ligula vel, eleifend tellus. 
        </div>
        <a href="#" class="block text-2xl my-4 text-teal-500 hover:text-teal-400 hover:underline"> More </a>
      </div>
    </preview>

    <div class="p-6 container mx-auto max-w-5xl">

      <section> 

        <h1 class="font-sans text-teal-500 text-2xl pt-6"> Articles </h1>

        <article class="my-12">
          <div class="text-xl text-gray-700"> 
            John Levi Hilton III, Robin MacKenzie, Mary Johnson 
          </div>
          <div class="font-serif text-3xl">
            Cost-savings achieved in two semesters through the adoption of open educational resources
          </div>
          <div class="flex text-xl font-sans">
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> PDF </a>
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> HTML </a>
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> Transcript </a>
          </div>
        </article>

        <article class="my-12">
          <div class="text-xl text-gray-700"> 
            Insung Jung
          </div>
          <div class="font-serif text-3xl">
            An elaborated model of student support to allow for gender considerations in Asian distance education
          </div>
          <div class="flex text-xl font-sans">
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> PDF </a>
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> HTML </a>
          </div>
        </article>

        <article class="my-12">
          <div class="text-xl text-gray-700"> 
            Chi-Cheng Chang
          </div>
          <div class="font-serif text-3xl">
            Is blended e-learning as measured by an achievement test and self-assessment better than traditional classroom learning for vocational high school students?
          </div>
          <div class="flex text-xl font-sans">
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> PDF </a>
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> HTML </a>
          </div>
        </article>

        <div class="my-12 border border-gray-400"></div>

        <h1 class="font-sans text-teal-500 text-2xl pt-6"> Reviews </h1>

        <article class="my-12">
          <div class="text-xl text-gray-700"> 
            Arianna Becerril
          </div>
          <div class="font-serif text-3xl">
            A non-commercial, cooperative and sustainable Open Access approach in Latin America
          </div>
          <div class="flex text-xl font-sans">
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> PDF </a>
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> VIDEO </a>
          </div>
        </article>

        <div class="my-12 border border-gray-400"></div>

        <h1 class="font-sans text-teal-500 text-2xl pt-6"> Experiments </h1>

        <article class="my-12">
          <div class="text-xl text-gray-700"> 
            Vitaliy Bezsheiko
          </div>
          <div class="font-serif text-3xl">
            Effectiveness of influenza vaccination for healthy adults
          </div>
          <div class="flex text-xl font-sans">
            <a href="#" class="block flex-initial p-4 bg-teal-500 text-white mr-2 hover:bg-teal-200 hover:text-gray-600"> XML </a>
          </div>
        </article>

      </section>

    </div>

    <div class="w-full flex justify-center">
      <a href="#" class="flex-initial text-xl font-sans mx-auto py-3 px-6 border border-black hover:border-teal-500 hover:text-teal-500"> View All Issues </a>
    </div>

{% endblock %}
