

    <footer class="bg-gray-900 p-12 mt-12">

      <div class="h-128"></div>

      <div class="my-12 border border-gray-400"></div>

      <div class="px-6">
        <p class="font-sans text-xl text-white font-bold"> Demonstration Journal of Health Sciences Policy </p>
        <p class="font-sans text-xl text-white"> WAC Bennett Library </p>
        <p class="font-sans text-xl text-white"> Simon Fraser University </p>
        <p class="font-sans text-xl text-white"> 8888 University Drive </p>
        <p class="font-sans text-xl text-white"> Burnaby, BC, Canada V5A 1S6 </p>
      </div>

    </footer>