
    <nav class="p-6 mx-auto flex text-lg content-center items-center justify-center bg-some-gray">
      <a href="#" class="flex-initial font-sans mx-6 p-6 border border-transparent hover:border-black"> ABOUT </a>
      <a href="#" class="flex-initial font-sans mx-6 p-6 border border-transparent hover:border-black"> ANNOUNCEMENTS </a>
      <a href="#" class="flex-initial font-sans mx-6 p-6 border border-transparent hover:border-black"> ARCHIVE </a>
      <a href="#" class="flex-initial font-sans mx-6 p-6 border border-transparent hover:border-black"> SEARCH </a>
      <a href="#" class="flex-initial font-sans mx-6 p-6 border border-transparent hover:border-black"> SUBMISSIONS </a>
    </nav>